/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@font-face {
  font-family: 'KnowYourProduct';
  src: url("know_your_product-webfont.eot");
  src: url("know_your_product-webfont.eot?#iefix") format("embedded-opentype"), url("know_your_product-webfont.woff") format("woff"), url("know_your_product-webfont.ttf") format("truetype"), url("know_your_product-webfont.svg#KnowYourProductRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonospaceTypewriter';
  src: url("MonospaceTypewriter-webfont.eot");
  src: url("MonospaceTypewriter-webfont.eot?#iefix") format("embedded-opentype"), url("MonospaceTypewriter-webfont.woff") format("woff"), url("MonospaceTypewriter-webfont.ttf") format("truetype"), url("MonospaceTypewriter-webfont.svg#KnowYourProductRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 31, ../../app/assets/stylesheets/application.css.scss */
body {
  background: black;
  color: white;
  font-family: MonospaceTypewriter;
}

/* line 37, ../../app/assets/stylesheets/application.css.scss */
h1, h2 {
  font-family: KnowYourProduct;
}

/* line 41, ../../app/assets/stylesheets/application.css.scss */
a {
  color: white;
  text-decoration: none;
}
/* line 45, ../../app/assets/stylesheets/application.css.scss */
a:hover {
  text-decoration: underline overline;
}
