%p Welcome to Calgary Ruby Users (CRUsers).
%h2 Important Links
%ul
  %li
    %a(href="http://www.linkedin.com/groups?home=&gid=2971177&trk=anet_ug_hm") CRUSers LinkedIN Group
  %li
    %a(href="http://www.meetup.com/CalgaryRails/") Meetup.com for Organizing Workshops
  %li
    %a(href="http://crusers.uservoice.com") Workshop Suggestions
%h2 Past Workshops
%ul
  %li
    %a(href="http://calgaryrails.heroku.com") Ruby on Rails Workshop (November 26-27, 2011)
