%p Welcome to Calgary Ruby Users (CRUsers).
%ul
  %li
    %a(href="http://www.linkedin.com/groups?home=&gid=2971177&trk=anet_ug_hm") CRUSers LinkedIN Group
  %li
    %a(href="http://crusers.uservoice.com") Workshop Suggestions
